* {
  box-sizing: border-box;
}
html, body {
  padding: 0;
  margin: 0;
  background-color: #e5e5e5;
}
body, input, textarea, select, option {
  font-size: 15px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.7px;
}

header.global-header {
  width: 100%;
  height: 64px;
  background-color: #fff;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.global-header h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
}
header.global-header h1 a {
  color: #000;
  text-decoration: none;
}
header.global-header ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
.signin-wrap {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signin-wrap .signin-form {
  background-color: #fff;
  padding: 40px 32px;
  border-radius: 8px;
  width: 100%;
  max-width: 480px;
}
.signin-form form .signin-title {
  margin: 0 0 24px 0;
}
.signin-form form > div.email-wrap {
  margin: 0 0 24px 0;
}
.signin-form form > div label {
  display: block; 
  font-weight: bold;
  color: #777;
  margin-bottom: 4px; 
}
.signin-form form > div input[type="text"] {
  width: 100%;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #999;
}
.signin-form form div.submit-wrap {
  text-align: center;
}
.button {
  border: 0;
  background-color: #15a;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
}
.button.gray {
  background-color: #666;
}
.button:hover {
  opacity: 0.8;
}
main {
  padding: 24px;
}
.content-wrap {
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
}
.content-wrap > div.list-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content-wrap > div.list-head a {
  padding: 8px 12px;
  background-color: #15a;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}
.content-wrap > div.list-head a:hover {
  opacity: 0.8;
}

.main-card {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  overflow-x: auto;
}

.request-table {
  width: 100%;
  border-collapse: collapse;
}

.request-table th,
.request-table td {
  text-align: left;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  background-color: #fff;
}

.request-table td {
  text-overflow: ellipsis;
}
span.status {
  white-space: nowrap;
  padding: 4px 16px;
  border-radius: 50px;
  text-align: center;
}
span.status.appliying {
  background-color: #6cf;
}
span.status.approved {
  background-color: #aeb;
}
.detail-wrap {
  max-width: 880px;
  margin: 0 auto;
}
.detail-wrap .content-wrap {
  padding: 32px;
}
.detail-wrap h2.title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}
.detail-wrap .request-info {
  margin: 0;
  color: #555;
}

.detail-wrap .body {
  margin-top: 25px;
} 

.detail-wrap div.sub-content {
  margin-top: 25px;
}

.detail-wrap div.sub-content p.label {
  margin: 0 0 8px 0;
  color: #888;
  font-weight: bold;
}

.detail-wrap div.sub-content p.body {
  margin: 0;
}
.form-wrap {
  max-width: 800px;
  margin: 0 auto;
}
form.editor {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
}
form.editor > div label {
  display: block;
  font-weight: bold;
  color: #666;
  margin-bottom: 4px;
}

form.editor > div input[type='text'],
form.editor > div textarea,
form.editor > div select {
  padding: 12px;  
  border-radius: 6px;
  border: 1px solid #999;
  width: 100%;
}
form.editor > div textarea {
  height: 160px;
}
form.editor > div input[type='submit'] {
  border: 0;
  background-color: #15a;
  color: #fff;
  padding: 12px 24px;
  border-radius: 6px;
  cursor: pointer;
}
form.editor > div input[type='submit']:hover {
  opacity: 0.8;
}
